*.iml
*.ipr
*.iws
*.class
*.log
target/
.idea/
lib/
classes/
logs/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
out/

*MANIFEST.MF

